* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
  }
  
  h1,
  h2 {
    font-size: 32px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
    margin: 5px 10px 10px 5px;
  }
  
  nav h3 {
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-list li {
    list-style: none;
    margin: 10px;
  }
  
  .date {
    display: flex;
    justify-content: end;
    margin: 0 10px 100px 10px;
  }
  
  .book-item {
    display: flex;
    width: 550px;
    text-align: left;
  }
  
  .book-item:nth-child(even) {
    background: #fff;
  }
  
  .book-item:nth-child(odd) {
    background: lightgray;
  }
  
  .book-item article {
    flex: 1;
    display: flex;
    padding: 5px;
    margin: 5px 10px;
  }
  
  .books button {
    border: 2px solid black;
    box-shadow: 2px 2px;
    justify-self: flex-end;
    margin: 5px 30px;
    background: #fff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .form input {
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 300px;
    border: 2px solid black;
    text-align: left;
  }
  
  #add-btn {
    border: 2px solid black;
    box-shadow: 2px 2px;
    padding: 2px 10px;
    width: 50px;
  }
  
  .contact-info {
    align-items: center;
  }
  
  .contact-info h2 {
    margin-bottom: 50px;
  }
  
  .contact-info p {
    text-align: left;
    padding: 5px;
  }
  
  .contact-info li {
    text-align: left;
    line-height: 25px;
  }
  
  .contact-info ul {
    margin: 20px 0 80px 0;
    padding: 20px 60px;
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
    align-items: center;
    margin: 10px 10px;
    padding: 10px 20px;
  }